

.box{
   
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 95vw;
    align-items: center;
    justify-content: center;
   
}
.box h1{
    margin: auto;
}
.ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 86vw;
    margin-right: 40px;
}